@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat&family=Roboto&display=swap');
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);


:root{
    --upper-gradient: #e78182;
    --lower-gradient: #efd98a;
    --yellow: #fce38a;
    --red: #f38181;
    --black: #333333;
    --grey: #b6b6b6;
    --turquoise: #95e1d3;
    --logos-background: #f8f8f8;
}
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.container{
    width: 80%;
    margin: 0 auto;
}
header{
    background-image: url(img/eagle.jpg);
    background-size: cover;
    margin-bottom: 95px;
}
.gradient-background{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(var(--upper-gradient), var(--lower-gradient));
    opacity: 0.9;
    z-index: 1;
}
header .gradient-background{
    padding-top: 30px;
    padding-bottom: 25px;
}
nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 170px;
    
}
.logo{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
nav ol{
    display: block;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: white;
    list-style: none;
    cursor: pointer;
}
nav li{
    display: inline-block;
    width: fit-content;
    height: 30px;
}
nav li:not(.no-hover){
    margin-right: 55px;
}
nav li:hover{
    color: var(--yellow);
}
nav li:not(.no-hover):hover{
    border-bottom: 3px solid var(--yellow);
}
.no-hover:not(:last-child){
    margin-right: 35px;
}
.welcome-block{
    text-align: center;
}
.creative_temp{
    font-family: 'Kaushan Script', cursive;
    font-size: 72px;
    color: white;
    margin-bottom: 60px;
}
.welcome{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 150px;
    color: white;
    margin-bottom: 70px;
}
.line{
    width: 60px;
    height: 3px;
    background-color: white;
    margin: 0 auto;
    margin-bottom: 50px;
}
.learn_more{
    background-color: transparent;
    border: 3px solid white;
    width: 160px;
    height: 40px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 155px;
}
.learn_more:hover{
    background-color: white;
    color: var(--black);
}
.new_nav{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 25px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: white;
    
}
.nav_lines{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin-bottom: 25px;
}
.nav-red-line{
    height: 3px;
    background-color: var(--red);
    display: inline-block;
}
.white-line{
    height: 3px;
    background-color: white;
    display: inline-block;
}
.num{
    font-size: 21px;
    font-weight: bolder;
}
.new_nav .line{
    width: 100%;
    margin-bottom: 25px;
}
.suphead{
    text-align: center;
    color: var(--black);
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    margin-bottom: 25px;
}
.heading{
    text-align: center;
    color: var(--black);
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 40px;
}
.red-line{
    width: 60px;
    height: 3px;
    background-color: var(--red);
    margin-bottom: 50px;
    margin: 0 auto 50px;
}
.text{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: var(--grey);
    margin-bottom: 100px;
}
.image-blocks{
    display: flex;
    justify-content: space-between;
    margin-bottom: 110px;
}
.turquoise_block{
    width: 380px;
    height: 250px;
    background-color: var(--turquoise);
    z-index: 3;
}
.image_block{
    width: 380px;
    height: 250px;
    z-index: 2;
    position: relative;
    cursor: pointer;
    transition: 5s all ease-in-out;
}
.image_block .gradient-background{
    display: none;
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 18px;
}
.img1{
    background-image: url(img/blog1.jpg);
    background-size: cover;
}
.img2{
    background-image: url(img/blog2.jpg);
    background-size: cover;
}
.img3{
    background-image: url(img/blog3.jpg);
    background-size: cover;
}
.icon{
    margin-bottom: 10px;
}
.image_block:hover .gradient-background{
    display: flex;
}
.image_block:hover{
    bottom: 10px;
    right: 10px;
}
.facts{
    background-color: var(--turquoise);
    padding-top: 80px;
    padding-bottom: 80px;
}
.facts_container{
    width: 80%;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: white;
}
.count{
    font-size: 72px;
    font-weight: bold;
    margin-bottom: 25px;
}
.fact_text{
    font-size: 14px;
}
.service{
    padding-top: 110px;
}
.service_container{
    width: 80%;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 55px;
    justify-content: space-between;
}
.first_cont{
    padding-bottom: 50px;
    border-bottom: 1px solid var(--grey);
}
.service_container:last-child{
    padding-top: 50px;
    margin-bottom: 120px;
}
.serv{
    display: flex;
}
.ic{
    color: var(--turquoise);
    font-size: 20px;
    margin-right: 25px;
}
.info-head{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: var(--black);
    margin-bottom: 20px;
}
.info-text{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: var(--grey);
}
.feature{
    background-image: url(img/feature-background.jpg);
    background-size: cover;
    height: 883px;
    margin-bottom: 110px;
}
.filter{
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    padding-top: 110px;
    align-items: center;
}
.png{
    padding-left: 90px;
    width: fit-content;
    margin: 0 auto;
}
.phone{
    position: relative;
    right: 90px;
    bottom: 40px;
}
.photo_block{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
    margin-bottom: 120px;
}
.photo_block .fa{
    color: var(--turquoise);
    font-size: 20px;
    margin-right: 15px;
}
.serv2{
    display: flex;
    justify-content: space-between;
    border: 1px solid var(--grey);
    padding: 15px;
    cursor: pointer;
}
.fa-chevron-down{
    color: var(--grey);
}
.serv2 .info-head{
    margin-bottom: 0;
}
.info2 .info-text{
    border: 1px solid var(--grey);
    border-top: 0;
    padding: 15px;
    margin-bottom: 10px;
}
.creative{
    margin-bottom: 10px;
}
.quote{
    background-color: var(--logos-background);
    padding-top: 70px;
    padding-bottom: 70px;
    margin-bottom: 120px;
}
.slider_block{
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    padding-left: 20px;
    padding-right: 20px;
}
.chevron{
    color: var(--grey);
    display: flex;
    align-items: center;
    cursor: pointer;
}
.right{
    justify-items: flex-end;
    justify-content: flex-end;
}
.quote_block{
    display: flex;
}
.comment{
    border: 3px solid var(--turquoise);
    font-size: 53px;
    color: var(--turquoise);
    padding: 40px;
    margin-right: 60px;
}
.q{
    padding-top: 10px;
}
.q_text{
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-size: 24px;
    color: var(--grey);
    margin-bottom: 25px;
}
.author_line{
    display: inline-block;
    height: 4px;
    width: 60px;
    background-color: var(--red);
    margin-right: 10px;
}
.author{
    font-family:'Kaushan Script', cursive;
    font-size: 24px;
    color: var(--black);
}
.team1{
    background-image: url(img/team1.jpg);
    background-size: cover;
}
.team2{
    background-image: url(img/team2.jpg);
    background-size: cover;
}
.team3{
    background-image: url(img/team3.jpg);
    background-size: cover;
}
.team_society{
    width: 60%;
    display: flex;
    height: 55px;
}
.society{
    width: 25%;
    line-height: 55px;
    text-align: center;
    background-color: var(--yellow);
    color: var(--red);
}
.society:hover{
    background-color: var(--red);
    color: white;
}
.logos{
    background-color: var(--logos-background);
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
}
.logos_img{
    margin: 0 auto;
}
.galery{
    height: 770px;
    display: grid;
    grid-template-columns: repeat(4, 25%);
}
.galery .gradient-background{
    display: none;
}
.pic1{
    background-image: url(img/pic1.jpg);
    background-size: cover;
    min-height: 380px;
}
.pic2{
    background-image: url(img/pic2.jpg);
    background-size: cover;
    min-height: 380px;
}
.pic3{
    background-image: url(img/pic4.jpg);
    background-size: cover;
    min-height: 380px;
}
.pic4{
    background-image: url(img/pic4.jpg);
    background-size: cover;
    min-height: 380px;
}
.pic5{
    background-image: url(img/pic5.jpg);
    background-size: cover;
    min-height: 380px;
}
.pic6{
    background-image: url(img/pic6.jpg);
    background-size: cover;
    min-height: 380px;
}
.meduza{
    background-image: url(img/meduza.jpg);
    background-size: cover;
    grid-row: 1/3;
    grid-column: 3/4;
}
.img:hover .gradient-background{
    display: flex;
    max-width: 100%;
    max-height: 100%;
    padding: 0;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
}
.img .fa{
    margin-bottom: 15px;
}
.head-img{
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 15px;
    font-size: 14px;
}
.text-img{
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-size: 15px;
}
.testimonial{
    padding-top: 100px;
    padding-bottom: 120px;
}
.avatar_cont{
    margin-right: 25px;
}
.avatar{
    width: 210px;
    height: 210px;
    border-radius: 210px;
}
.people{
    background-image: url(img/people_background.jpg);
    background-size: cover;
}
.reviews{
    display: flex;
    
}
.reviews:not(:last-child){
    margin-bottom: 80px;
}
.people .filter{
    padding-bottom: 120px;
}
.review{
    display: flex;
}
.review .avatar{
    width: 110px;
    height: 110px;
    border-radius: 110px;
}
.name{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: var(--black);
    margin-bottom: 20px;
}
.design{
    font-family: 'Roboto',sans-serif;
    font-style: italic;
    font-size: 14px;
    margin-bottom: 20px;
}
.people_red_line{
    height: 3px;
    width: 60px;
    background-color: var(--red);
    margin-bottom: 25px;
}
.review_text{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: var(--grey);
}
.blog_block{
    padding-top: 120px;
    padding-bottom: 120px;
}




